/* ./your-css-folder/styles.css */

/* Fading page */
body {
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
/* !Fading page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: .3em;
}

h1 {
  margin-top: .5rem;
  margin-bottom: .4em;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em;
}

img {
  display: block;
  width: auto; 
  height: 100%;
}

.sub-container {
  display: flex;
  overflow-x: auto;
  align-items: center;
  height: 90vh;
  column-gap: 20px;
}

figure#test.gallery__thumb {
  max-width: 30%; 
  height: 85vh;
}


img.lazy {
  opacity: 0;
}

img:not(.initial) {
  transition: opacity 1s;
}
img.initial,
img.loaded,
img.error {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}


@media only screen and (max-width: 600px) {
  img {
    display: block;
    width: 50%; 
    height: 30%;
    }
}


header-component {
  float: right;
  margin-top: .8em;
  margin-right: 3em;

}

.navbar-left {

  display: inline-flex;
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;

}

a {

  text-decoration: none;
  /*color: rgb(126, 126, 126);*/
  color: rgb(0, 0, 0);

}

a img {

height: 16px;
width: 16px;
display: inherit;

}

.navbar-left a{
  
  margin-inline-end: 1em;
  font-size: .8em;
}

a:hover {
  
  text-decoration: none;
  color: rgb(84, 84, 84, 1.0);

}


.dropdown {
  position: relative;
  display: inline-block;
}

 .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(84, 84, 84, 1.0);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

div.navbar-left {

  list-style-type: none;
}

div#myDropdown.dropdown-content.show {
font-family: 'Ubuntu', sans-serif;
    font-size: .6em;
    right: .5em;
    top: 3em;

}

.navbar-left .icon {
  display: none;
}



@media screen and (max-width: 900px) {
  .navbar-left a:not(:first-child) {display: none;}
  .navbar-left a.icon {
    float: right;
    display: block;
    
  }
}

/*
@media screen and (max-width: 900px) {
  .navbar-left a:nth-child(6) {display: none;}
}
*/
@media screen and (max-width: 900px) {
  .navbar-left.responsive {position: relative;}
  .navbar-left.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }



  @media screen and (max-width: 900px) {
  .navbar-left a.icon {
      float: right;
      display: block;
      margin-right: -1em;
  }
}

@media screen and (max-width: 900px) {
  h1 {

      font-size: 1.9em;

  }
}


  .navbar-left.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}


@media screen and (max-width: 900px) {
.sub-container {
  display: flex;
  overflow-x: auto;
  align-items: center;
   height: auto; 
  column-gap: 20px;
  }
}
@media screen and (max-width: 900px) {
img {
display: block;
    width: auto;
    height: 80vh;
}
}

@media screen and (max-width: 900px) {
* {
margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: .1em;
  }
}

@media screen and (max-width: 900px) {
  a.icon i.fa.fa-bars {
    display: contents;
  }
  }





  /** Contact */


  div.box{
    display: flex;
    margin-top: 15vh;
  }

  .hide {
    visibility: collapse;
  }

  h1#bioHead {
    display: flex;
    padding-right: 3vw;
    margin-left: 10vw;
  }
  
  h1#clientHead{
    display: flex;
    padding-right: 6.9vw;
    margin-left: 10vw;
  }

  h1#contactHead {

    display: flex;
    padding-right: 5.9vw;
    margin-left: 10vw;  
  }

  p#bioTxt, p#clientTxt, p#contactTxt {
    margin-right: 20vw;
    margin-bottom: 1em;
    font-size: 1.2em;
  }

  .horizontal {
    flex-direction: column;
  }
  
  hr.spacer {
    min-height: 100%;
    max-height: 100vh;
    margin: 0;
  }


ul#clientList {
  padding-left: 1vw;
}

ul#clientList2 {
  margin-left: 25vw;
}

li#client {
  margin-bottom: 1em;
}

/* Remove BR on small screen */
  @media screen and (max-width: 700px) {
  p#bioTxt br 
             {
                display: none;
             }
            }


@media screen and (max-width: 700px) {
  div.box{
    display: block;
  }
  }